.search-bar-container input {
    background: #65f9d3;
    border: none;
    border-bottom: 1px solid white;
    width: 97%;
    color: #fff;
    font-size: 18px;
    padding-left: 6px;
}

.search-bar-container i {
    margin-left: -19px;
}