.search-bar-container input {
    background: #65f9d3;
    border: none;
    border-bottom: 1px solid white;
    width: 97%;
    font-size: 18px;
    padding-left: 6px;
    color: #545353;
    font-family: initial;
}

.search-bar-container i {
    margin-left: -19px;
}