.sort-result-container {
    display: grid;
    justify-content: center;
}

.sort-bar-content {
    position: absolute;
    background: #65f9d3;
    top: 44px;
    border-radius: 4px;
    right: 0;
    margin-right: 4px;
    padding: 24px;
    padding-bottom: 10px;
}

.sort-bar-content div {
    margin-bottom: 6px;
}

.hide-element {
    display: none;
}