.menu-bar-container {
    display: grid;
    justify-content: center;
}

.menu-bar-content {
    position: absolute;
    background: #65f9d3;
    top: 44px;
    border-radius: 4px;
    padding: 32px;
    padding-bottom: 10px;
    color: #545353;
    font-family: initial;
}

.menu-bar-content div {
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 6px;
}

.menu-bar-content div:hover {
    background: #fff;
}

.closeIcon {
    right: 10px;
    top: 10px;
    position: absolute;
}

.hide-element {
    display: none;
}